.video-container{
  text-align: center;
  border: 3px white solid;
  height: 500px;
  margin: 5% 5% 0 5%;
  overflow: hidden;
}

.inner-border{
  position: absolute;
  border: 10px white solid;
  height: 440px;
  left: 10%;
  right: 10%;
  margin-top: 2%;
}

.video-home{
  width: 1440px;
  z-index: -1;
}

.video-overlay{
  position: absolute;
  z-index: 1;
  left: 50%;
}


.image{
  height: 300px;
  position: relative;
  margin-top: 30%;
  left: -50%;
  z-index: 1;
  opacity: 0.5;
}

.image:hover{
  opacity: 1;
}
