.video-home{
  width: 1440px;
  z-index: -1;
}

.video-overlay{
  position: absolute;
  z-index: 1;
  left: 50%;
}

.image{
  position: relative;
  margin-top: 30%;
  left: -50%;
  z-index: 1;
  height: 300px;
  opacity: 0.5;
}

.image:hover{
  opacity: 1;
}

.video-container{
  text-align: center;
  border: 3px solid black;
  height: 500px;
  margin: 5% 5% 0 5%;
  overflow: hidden;
}